<div style="margin-top: 80px;font-weight: bold;margin-left: 25px;">About Us:
    <span style="font-weight: normal;"><br>
      UPHC Healthcare play a big role in ensuring that best of the medical care is offered to masses. In line with our consistent efforts, we organize regular health awareness and check up camps for the general public, students, and underprivileged section of society.
      Free health lectures are conducted regularly for students of schools, colleges to create awareness on hygiene (oral/dental/general), importance of sports and exercise, healthy eating habits etc.
    </span>
</div>
