<div id="main" role="main">
    <div class="card-container" (click)="btnOpenAppointmentPage('about-us')">
        <a class="card" target="_blank" rel="noopener">
          <strong>About Us</strong>
        </a>
    </div>
    <div class="card-container" (click)="btnOpenAppointmentPage('appointment')">
      <a class="card" target="_blank" rel="noopener">
        <strong>Book an Appointment</strong>
      </a>
    </div>
    <div class="card-container" (click)="btnOpenAppointmentPage('admin')">
      <a class="card" target="_blank" rel="noopener">
        <strong>Appointment Details</strong>
      </a>
    </div>
  </div>
